.clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
}
::-webkit-scrollbar {
    width: 0.15em;
}

::-webkit-scrollbar-thumb {
    background-color: #7a7d89;
}

.hide-scroll::-webkit-scrollbar {
    display: none;
  }

  .ant-picker-calendar {
    background-color: #F4A6B4;
  }

  .ant-picker-cell-selected .ant-picker-cell-inner {
    background-color: #1890ff;
    color: #fff;
  }

  